.main-content{display:grid;}
.ComFoto{margin: 150px auto 10px; width:90%; margin-left: 40px;}
.ComFoto img{width:100%; height:350px; border-radius: 10px 10px;}
.Descricao{margin:50px auto; width:100%; height:220px; background-color: white; border-radius: 10px 10px;}
.main-content h1{margin-left:10px;color:red; text-align: center;}
.Descricao p{margin-left: 20px;}
.Comofaz, .Receita{margin:0 40px 30px; background-color: white; border-radius: 10px; padding: 10px 10px;}

@media screen and (min-width:1200px){
.main-content{display:grid; grid-template-columns: 50% 50%;}

.ComFoto img{width:100%; height:400px; border-radius: 10px 10px;}
.Descricao{margin:150px auto; width:95%; height:200px; background-color: white; border-radius: 10px 10px;}
.main-content h1{margin-left:10px;color:red; text-align: center;}
}