main{display: flex; flex-wrap: nowrap; flex-direction: column; align-items: center;}
main h1{text-align: center; font-family: monospace;}

.title{margin:150px auto 40px; width:50%; height:50px; border-bottom: solid 1px black;}

.linha{ width:100%; margin: 0px 0px 100px 0; width:80%; text-align: center;} 

.colu-1 {width:100%; height:200px;}
.colu-1 img{width:90%; height:120px; border-radius: 10%;}


@media screen and (min-width: 640px){
    .linha{display: grid; grid-template-columns: 10fr 10fr; grid-template-rows: 10fr 10fr 10fr 10fr 10fr; width:100%;
    grid-gap: 25px 50px; margin:auto 100px 50px 100px; width:80%; text-align: center;}
    .colu-1 img{height:170px;}
    
}

@media screen and (min-width:1200px){
.linha{display: grid; grid-template-columns: 10fr 10fr 10fr; grid-template-rows: 10fr 10fr 10fr; width:100%;
grid-gap: 25px 50px; margin:auto 100px 50px 0; width:80%; text-align: center;}
.colu-1 img{height:170px;}

}
